<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
</head>

<body>
    <h1><%= title%></h1>
    <a href="/additem"><button>Thêm sản phẩm</button></a>
    <table>
        <tr>
            <th>STT</th>
            <th>id</th>
            <th>name</th>
            <th>view</th>
            <th>Mô tả</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <% var count=1; %>
        <% items.forEach( (item) => { %>
            <tr>
                <td><%= count%></td>
                <td><%= item._id%></td>
                <td><%= item.name%></td>
                <td><%= item.view%></td>
                <td><%= item.des%></td>
                <td>
                    <a href="/updateitem?id=<%= item._id%>">
                        <button type="submit">Update</button>
                    </a>
                </td>
                <td>
                    <form action="/delete?id=<%= item._id%>" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <% count++; %>
        <%})%>
    </table>
</body>

</html>