<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update item</title>
</head>
<body>
    <div id="formUpdateItem">
        <form action="/updateitem" method="POST">
            <div class="col col-md-12" style="text-align: center; margin-top: 30px; margin-bottom: 30px">
                <h2>CẬP NHẬT SẢN PHẨM</h2>
            </div>
            <%items.forEach(function(item){%>
            <div class="container">
                <div class="row" style="color: black; text-align: left; margin-left: 150px">
                    <div class="col col-md-8">
                        ID sản phẩm
                        <Label><%= item._id%></Label> <br>
                        Tên sản phẩm
                        <input type="text" value="<%= item.name%>" name="name"
                            style="border: solid 1px black; border-radius: 10px; width: 300px; hejght: 40px"> <br /> <br />
                        Giá thành sản phẩm
                        <input type="number" value="<%= item.price%>" name="price"
                            style="border: solid 1px black; border-radius: 10px; width: 300px; hejght: 40px"> <br /> <br />
                        Số lượng
                        <input type="number" value="<%= item.quantity%>" name="quantity"
                            style="border: solid 1px black; border-radius: 10px; width: 300px; hejght: 40px"> <br /> <br />
                    </div>
                    <div class="col col-md-4">
                        Url Image:
                        <input type="text" value="<%= item.url%>" name="urlImage">
                    </div>
                    <div class="col col-md-12">
                        <p>Mô tả sản phầm</p>
                        <textarea rows="4" cols="100%" style="border: solid 1px black; border-radius: 10px" name="des">
                            <%= item.des%>                    
                        </textarea>
                        <br /> <br />
                    </div>
                </div>
            </div>
            <div class="col col-md-12" style="text-align: center">
                <button name="itemID" value="<%= item._id%>" type="submit" class="btn btn-secondary" style="border-radius: 20px; font-size: 30px">
                    UPDATE
                </button>
                <br /> <br />
            </div>
            <%})%>
    
        </form>
    </div>
</body>
</html>